.countryPageContent{
    display: grid;
    grid-template-rows: 0.8fr 1.3fr 1.1fr 1fr;
    height: 100%;
    min-height: 50vh;
    justify-content: center;
}
.upperRow {
    display: grid;
    grid-template-columns: 6fr 1fr;
}

.time, .weather, .currencies  {
    margin-top: 10px;
    border: grey solid 2px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    color: #1a6dcd;
}

.time h3, .weather h3, .currencies h3 {
    color: #1a6dcd;
}
.countryInfo .ant-image {
    max-width: 600px;
    width: auto;
}

.ant-carousel img{
    display: flex;
    width: 60vw!important;
    height: auto!important;
}

.subTitle{
    width: 300px;
    margin: 0 auto 30px;
    text-align: center;
}
.countryInfo  {
    display: grid;
    grid-template-columns: 2fr 3fr;
    font-size: 18px;

}

.countryInfo .text  {
    padding: 0 50px;

}

.carousel {
    width: 60vw;
    margin: 0 auto ;
}

.slick-dots-top li button  {
    height: 10px!important;
}


.video {
    margin: 0 auto;
    width: 60vw;
}

.map {
    margin: 0 auto;
    width: 60vw;
}