.layout {
    min-height: 100vh;
    height: auto;
}


.site-layout-background {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

/*.ant-layout-header {*/
/*    height: 80px;*/
/*    padding: 0;*/
/*}*/

/*header h1 {*/
/*    font-size: 35px;*/
/*    width: 300px;*/
/*    height: 30px;*/
/*    margin: 0 auto;*/
/*    color: white;*/
/*}*/

/*.layout h3 {*/
/*    color: #1f4d6a;*/
/*}*/

/* .ant-layout-sider, .ant-menu-root {*/
/*    background-color: #1f4d6a !important;*/

/*}*/

/*.hello a {*/
/*    cursor: pointer;*/
/*}*/

/*.hello {*/
/*    width: 500px;*/
/*    height: 25px;*/
/*    margin: 0 auto;*/
/*    color: white;*/

/*}*/

/*.stats {*/
/*    width: 200px;*/
/*    display: inline-block;*/
/*}*/

/*main.ant-layout-content {*/
/* background-color: #c4c8cb !important;*/
/*    padding: 0;*/
/*    height: 100%;*/
/*}*/


/*.optionsWrapper {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(3, 1fr);*/
/*    width: 500px;*/
/*    margin: 0 auto;*/
/*}*/

/*.symbolMode {*/
/*    padding-left: 10px;*/
/*}*/

/*.themeMode {*/
/*    padding-left: 10px;*/
/*}*/

/*.gameMode {*/
/*    justify-self: end;*/
/*}*/

/*.ant-layout-footer {*/
/*    padding: 0;*/
/*    background-color: #c4c8cb !important;*/
/*    border-top: 3px solid #1f4d6a;*/
/*}*/

/*.footerContent {*/
/*    width: 300px;*/
/*    height: auto;*/
/*    margin: 0 auto;*/
/*    padding-bottom: 20px;*/
/*}*/

/*.rs {*/
/*    width: 68px;*/
/*    height: 25px;*/
/*    background-image: url("https://rs.school/images/rs_school_js.svg");*/
/*    background-size: cover;*/
/*    margin: 0 auto;*/
/*}*/

/*.startButton {*/
/*    width: 200px;*/
/*    height: 35px;*/
/*    font-size: 18px;*/
/*    justify-self: center;*/
/*    border-radius: 5px;*/
/*    background-color: #1f6a26 !important;*/
/*    outline: none;*/
/*    border: none;*/
/*}*/

/*.finishButton {*/
/*    width: 200px;*/
/*    height: 35px;*/
/*    font-size: 18px;*/
/*    justify-self: center;*/
/*    border-radius: 5px;*/
/*    background-color: crimson !important;*/
/*    outline: none;*/
/*    border: none;*/
/*}*/



