.upperHeader {
    display: grid;
    height: 70px;
    grid-template-columns: 2fr 10fr 4fr 6fr;
    background-color: white !important;
}

.lowerHeader {
    background: url("../../assets/images/shary.jpg") 100% 50% no-repeat;
    height: 280px;
    width: 100%;
    background-size: cover;
    border-top: 1px solid transparent;

}

h1 {
    justify-content: center;
    cursor: pointer;
    font-size: 30px;

}


.ant-layout-header {
    background-color: white !important;
    height: 350px !important;
    padding: 0 !important;
}

.logo {
    width: 62px;
    height: 70px;
    margin: 0 auto;
    background-image: url("../../assets/images/logo.png");
    background-size: contain;
    cursor: pointer;
}

.me {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
}
.me p{
    cursor: pointer;
}




